body {
    background-color: #1f242a;
    color: #b48d22;

  }

a.nav-link {
    color: #b48d22;
  }

a.navbar-brand {
    color: #b48d22;
  }

  .nav-pills .nav-link:hover {
    color: #b48d22;
    background-color: #1f242a;
  }
  
  .nav-pills .nav-link.active {
    color: #b48d22;
    background-color: #1f242a;
  }

table#similarity-table td:nth-of-type(1) {
  width: 20px;
}
table#review-final-analysis-table td:nth-of-type(2) {
  width: 120px;
}
table#review-final-analysis-table td:nth-of-type(2) {
  width: 100px;
}
